* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --Dark-01: #131318;
    --Dark-02: #424247;
    --Button-01: #FF5400;
}

header,
main {
    margin: 0 130px;
}

/* common styles */

.btn-primary {
    background-color: var(--Button-01);
    border: none;
    width: 180px;
    height: 60px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 8px;
}

.text-light-grey {
    color: #5A5A5D;
}

.section-heading {
    color: var(--Dark-01);
    font-size: 40px;
    font-weight: 800;
}

.section-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

/* header styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .small-navbar {
    display: none;
}

nav .name {
    font-size: 36px;
    font-weight: 800;
    padding-left: 15px;
}

nav .nav-item-container {
    display: flex;
    gap: 40px;
}

.nav-item-container li {
    list-style: none;
}

.nav-item-container li a {
    font-size: 1.2rem;
    color: var(--Dark-02);
    text-decoration: none;
}


/* main styles */

/* hero section */

.hero {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./Images/hero-background.png");
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 700px;
    border-radius: 20px;

}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 100px;
}

.hero-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero-subtitle {
    color: #fff;
    width: 50%;
    text-align: center;
}

.search-box {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.30);
    gap: 24px;
    padding: 16px;
}

.search-box input {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    padding-left: 16px;
}

.search-box .search-btn {
    background-color: #FF5400;
    border: none;
    border-radius: 8px;
    width: 30%;
    height: 50px;
    font-size: 1.2rem;
    padding-left: 16px;
    color: #fff
}

/* tour secton styles */

.tour-section {
    display: flex;
    margin-top: 100px;
    gap: 50px;
    justify-content: space-between;
}




.tour-content,
.tour-image {
    flex: 1;
}

.tour-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tour-content li {
    padding: 10px 0;
}


/* destination styles */



.section-top p {
    width: 50%;
}

.grid-image {
    position: relative;
    width: 100%;
    /* max-width: 500px; */
}

.image {
    width: 100%;
    height: 300px;
    display: block;
}


.text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
}

/* .destination-content {
    text-align: center;
} */

/* .destination-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

/* .grid-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.centered-content {
    text-align: center;
    color: white;
}

.centered-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-overlay {
    color: red;
    font-size: 2.5rem;
} */

.maldives {
    grid-area: maldives;
}

.indonesia {
    grid-area: indonesia;

}

.sri-lanka {
    grid-area: sri-lanka;
}

.north-america {
    grid-area: north-america;
}

.kashmir {
    grid-area: kashmir;
}

.bangladesh {
    grid-area: bangladesh;
}

.bandarban {
    grid-area: bandarban;
}

.destination-grid {
    display: grid;
    grid-template-areas:
        "maldives maldives indonesia indonesia"
        "sri-lanka north-america north-america kashmir"
        "bangladesh bandarban bandarban bandarban"
    ;
    grid-gap: 20px;
}

/* why choose us */

.hotels {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.service {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.cards img {
    width: 64px;
    height: 64px;
}

.cards {
    display: flex;
    gap: 32px;
}


/* border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */


/* small screen styles */

@media screen and (max-width: 576px) {

    header,
    main {
        margin: 0 20px;
    }

    .nav .name {
        font-size: 20px;
    }

    .nav-container {
        display: none;
    }

    nav .small-navbar {
        display: block;
    }

    .hero {
        background-position: center;
    }

    .search-box,
    .hero,
    .tour-section {
        flex-direction: column;
    }

    .hero .hero-title {
        font-size: 1.3rem;
    }

    .hero .hero-subtitle {
        width: 80%;
    }

    .hero input {
        width: 80%;
    }

    .hero .search-btn {
        width: calc(80% + 16px);
    }
}