* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --Dark-01: #131318;
    --Dark-02: #424247;
    --Button-01: #FF5400;
}

header,
main {
    margin: 0 130px;
}

/* common styles */

.btn-primary {
    background-color: var(--Button-01);
    border: none;
    width: 180px;
    height: 60px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 8px;
}

.text-light-grey {
    color: #5A5A5D;
}

.section-heading {
    color: var(--Dark-01);
    font-size: 40px;
    font-weight: 800;
}

.section-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

/* header styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .small-navbar {
    display: none;
}

nav .name {
    font-size: 36px;
    font-weight: 800;
    padding-left: 15px;
}

nav .nav-item-container {
    display: flex;
    gap: 40px;
}

.nav-item-container li {
    list-style: none;
}

.nav-item-container li a {
    font-size: 1.2rem;
    color: var(--Dark-02);
    text-decoration: none;
}


/* main styles */

/* hero section */

.hero {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./Images/hero-background.png");
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 700px;
    border-radius: 20px;

}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 100px;
}

.hero-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero-subtitle {
    color: #fff;
    width: 50%;
    text-align: center;
}

.search-box {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.30);
    gap: 24px;
    padding: 16px;
}

.search-box input {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    padding-left: 16px;
}

.search-box .search-btn {
    background-color: #FF5400;
    border: none;
    border-radius: 8px;
    width: 30%;
    height: 50px;
    font-size: 1.2rem;
    padding-left: 16px;
    color: #fff
}

/* tour secton styles */

.tour-section {
    display: flex;
    margin-top: 100px;
    gap: 50px;
    justify-content: space-between;
}




.tour-content,
.tour-image {
    flex: 1;
}

.tour-content,
.video-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tour-content li {
    padding: 10px 0;
}


/* destination styles */



.section-top p {
    width: 50%;
}

.grid-image {
    position: relative;
    width: 100%;
    /* max-width: 500px; */
}

.image {
    width: 100%;
    height: 300px;
    display: block;
}


.text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
}

/* .destination-content {
    text-align: center;
} */

/* .destination-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

/* .grid-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.centered-content {
    text-align: center;
    color: white;
}

.centered-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-overlay {
    color: red;
    font-size: 2.5rem;
} */

.maldives {
    grid-area: maldives;
}

.indonesia {
    grid-area: indonesia;

}

.sri-lanka {
    grid-area: sri-lanka;
}

.north-america {
    grid-area: north-america;
}

.kashmir {
    grid-area: kashmir;
}

.bangladesh {
    grid-area: bangladesh;
}

.bandarban {
    grid-area: bandarban;
}

.destination-grid {
    display: grid;
    grid-template-areas:
        "maldives maldives indonesia indonesia"
        "sri-lanka north-america north-america kashmir"
        "bangladesh bandarban bandarban bandarban"
    ;
    grid-gap: 20px;
}

/* why choose us */

.hotels {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    /* grid-area: hotels;    */
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
    /* grid-area: service; */
}

.cards img,
.price-card img {
    width: 64px;
    height: 64px;
}



.guarantee {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.cards {
    display: flex;
    flex-direction: column;
}

.first-row {
    display: flex;
    gap: 20px;
}

.second-row {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}



.video-section {
    display: flex;
    margin-top: 100px;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.video-content h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--Dark-01);
}

.video-content p {
    font-size: 1.2rem;
    color: #5A5A5D
}

.video-content li {
    padding: 10px 0;
    color: var(--Dark-01);
    font-weight: 700;
}

.video {
    width: 3000px;
}

.video img {
    width: 100%;
}


/* newsletter styles */

.newsletter-section {
    display: flex;
}

.newsletter {
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsletter h3 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--Dark-01);
}

.newsletter input {
    width: 97%;
    height: 50px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 16px;
    font-size: 1.2rem;
    color: #1313184D;
    border: none;
    margin-bottom: 20px;
}

.newsletter>input {
    margin-top: 20px;
}

.newsletter-section {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.subscribe-btn {
    width: 100%;
}

.image-container {
    width: 60%;
    position: relative;
}

.savings-amount {
    /* style="color: #fff; font-size: 2rem; font-weight: 800; text-align: center; */
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.savings-name {
    /* style="color: #fff; font-size: 1.5rem; text-align: center;" */
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.image-container img {
    width: 100%;
}

.savings {
    background-color: #FF5400;
    width: 320px;
    height: 120px;
    padding: 16px;
    position: absolute;
    top: 370px;
    right: 30px;
    border-radius: 16px;
    transform: rotate(-20deg);
}


/* footer styles */

.footer {
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .logo {
    display: flex;
    align-items: center;
}



/* border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */


/* small screen styles */

@media screen and (max-width: 576px) {

    header,
    main {
        margin: 0 20px;
    }

    .nav .name {
        font-size: 20px;
    }

    .nav-container {
        display: none;
    }

    nav .small-navbar {
        display: block;
    }

    .hero {
        background-position: center;
    }

    .search-box,
    .hero,
    .tour-section,
    .cards,
    .first-row,
    .newsletter-section,
    .video-section {
        flex-direction: column;
    }

    .hero .hero-title {
        font-size: 1.3rem;
    }

    .hero .hero-subtitle {
        width: 80%;
    }

    .hero input {
        width: 80%;
    }

    .hero .search-btn {
        width: calc(80% + 16px);
    }

    .destination-grid {
        grid-template-areas:
            "maldives"
            "indonesia"
            "sri-lanka"
            "north-america"
            "kashmir"
            "bangladesh"
            "bandarban"
        ;
    }

    .second-row {
        width: 100%;
    }

    .newsletter {
        width: 70%;
    }

    .newsletter input {
        width: 100%;
    }

    .newsletter button {
        width: calc(100% + 16px);
    }

    .image-container {
        width: 100%;
    }

    .image-container img {
        width: 330px;
        height: 300px;
    }

    .image-container .savings {
        top: 150px;
        right: 0;
        width: 200px;
        height: 80px;
    }

    .savings-amount {
        font-size: 1.5rem;
    }

    .savings-name {
        font-size: 1rem;
    }

    .video {
        width: 100%;
    }
}